.show-page
  .show-page__title
    =@post.title
  .show-page__place
    =fa_icon 'map-marker'
    =@post.place
  .show-page__day
    =fa_icon 'calendar'
    =@post.created_at.strftime("%Y/%m/%d")
  .show-page__category
    =fa_icon 'folder'
    = link_to category_path(@post.category_id) do
      =@post.category.category
  .show-page__image
    =image_tag @post.image ,width:"300px",height:"200px",class:"show-page__image--tag"
  .show-page__text
    =@post.text
  .show-page__share
    = link_to 'Twitter', "https://twitter.com/share?url=#{request.url}&text=#{@post.title}", title: 'Twitter', target: '_blank',class:"twitter"
    = link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@post.title}", title: 'Facebook', target: '_blank',class:"facebook"
    = link_to 'LINE', "http://line.me/R/msg/text/?#{request.url}&text=#{@post.title}", title: 'LINE', target: '_blank',class:"line"
  .show-page__comment
    %p.show-page__comment--title
      コメント
    .show-page__comment--box
      .show-page__comment--box--index
        =render partial: "./comments/comments",collection:@comments ,as: :comment, locals:{post: @post}
      -if signed_in?
        .show-page__comment--box--form
          = form_for [@post, @comment] do |f|
            =f.text_area :comment, class:"show-page__comment--box--form--input"
            =f.submit "投稿する",class:"show-page__comment--box--form--button"
      -else 
        %p.show-page__comment--box--text
          コメントをするにはログインをしてください。
          